html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

#logo-big {
    width: 100vw;
    object-fit: contain;
    position: absolute;
    z-index: -1;
}

#enter-message {
    position: absolute;
    margin-top: 75vh;
    font-size: 3.5em;
    color: white;
    width: 100vw;
    text-align: center;
}

#logo-small {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw; */
    /* margin-top: 15vh; */
    width: 100%;
}

#home-header {
    border-bottom: 2px solid rgb(120, 147, 172);
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#edit-video {
    width: 100vw;
    height: 50vh;
    background-color: rgb(120, 147, 172);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}


@media only screen and (max-width: 800px) {
    #logo-small {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30vw;
        /* margin-top: 5vh; */
    }
}

.photoSlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #718baf;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #942323;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

#footer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(112, 113, 169);
}

#mailing-list {
    padding: 2em 8em;
}

.slideshowImage {
    width: 100%;
}

#browse-products {
    width: 20%;
    height: 20%;
    font-size: 1.5em;
    border: solid 3px white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#browse-products:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}